body{
    font-family: "Tahoma", sans-serif;
    background-color: #242423;
    padding: 0;
    margin: 0;
}

div#container a{
    text-decoration: none;
    color: #fff;
}

div#container a:hover{
    text-decoration: underline;
}

nav#main a:hover{
    text-decoration: none;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

nav#main ul li a,
nav#main ul li a:after,
nav#main ul li a:before {
  transition: all .5s;
}

nav#main ul li a {
  position: relative;
}

nav#main ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav#main ul li a {
  transition: all 2s;
}

nav#main ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav#main ul li a:hover {
  color: #989898;
  z-index: 1;
}

nav#main ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

header{
    height: 65px;
    width: 100%;
    background-color: #f5cb5c;
    margin: 0;
    padding-top: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 99999;
}

header div#inner_header{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

header div#inner_header img{
    margin:0;
    padding: 0;
    width: 45px;
    box-sizing: border-box;
}

header div#inner_header nav#hamburger{
    display: none;
}


header div#inner_header nav#hamburger a.icon{
    position: absolute;
    right: 10px;
    top:6px;
    background-color: #242423;
    color: #fff;
    padding: 10px;
    padding-left:12px;
    padding-right: 12px;
}

header div#inner_header nav#hamburger ul{
    margin:0;
    padding: 0;
    position: absolute;
    font-size: 20px;
    top:45px;
    right: 10px;
    width: 155px;
    font-size: 18px;
    background-color: #282928;
} 

header div#inner_header nav#hamburger ul li:first-child{
    margin-top: 0px;
}

header div#inner_header nav#hamburger ul li{
    list-style-type: none;
    line-height: 1.8em;
    background-color: #f5cb5c ;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 5px;
    text-align: center;
}

header div#inner_header nav#hamburger ul li:last-child{
    margin-bottom: 0px;
}

header div#inner_header nav#main{
    margin: 0;
    padding: 0;
    padding-left: 35%;
    box-sizing: border-box;
    display: inline-block;
    position:relative;
}

header div#inner_header nav#main ul{
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header div#inner_header nav#main ul li{
    list-style-type:none;
    display: inline-block;
    padding-right: 30px;
    line-height: 1.6em;
    padding-bottom:10px;
    box-sizing: border-box;
}

/* div#container div#content section{
    height: 900px;
} */

div#container footer{
    height: 150px;
    background-color: #282928;
    margin:0;
    padding: 0;
    padding-top: 30px;
    color: #fff;
}

div#container footer div#inner_footer{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

div#container footer ul.primary_ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding:0;
}

div#container footer ul.primary_ul li{
    list-style-type: none;
    flex-grow: 2;
    line-height: 1.6em;
}

div#container footer ul.primary_ul li div.vertical{
    border-left: 2px solid #fff;
    height: 120px;
}

div#container footer ul.primary_ul li ul.secondary_ul{
    margin:0;
    padding:0;
} 

div#container footer ul.primary_ul li#vertical_li{
    flex-grow: 0.5;
}

div#container footer ul.primary_ul ul.secondary_ul li:first-child{
    color: #525452;
}

div#container footer ul.primary_ul ul.secondary_ul li#address{
    width: 100px;
}

div#container footer p#copyright{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width: 1013px){
    header div#inner_header nav#main{
        display: none;
    }
    header div#inner_header nav#hamburger ul#ham_nav{
        display: none;
    }
    header div#inner_header nav#hamburger{
        display: block;
    }
    header div#inner_header{
        width: 90%;
    }
}

@media all and (max-width: 1333px){
    header div#inner_header nav#main{
        padding-left: 30%;
    }
}

@media all and (max-width: 1240px){
    header div#inner_header nav#main{
        padding-left: 20%;
    }
}

@media all and (max-width: 1089px){
    header div#inner_header nav#main{
        padding-left: 15%;
    }
}



/*************** Home Page ****************/

#content{
  width: 1080px;
  margin: 0 auto;
  
}

/*Section specing*/
section{
  min-height: 400px;
}

/*Home page welcome text positioning*/
section .welcome_text{
  padding-top: 30px;
}

#home_box {
    position: relative;
}

#home_box span#intro_1 {
    display: block;
    position: absolute;
    top: 15%;
    right: 4%;
    z-index: 1000;
    background: transparent;
    color: #ccc;
}

#home_box span#intro_2 {
    display: block;
    position: absolute;
    top: 20%;
    right: 4%;
    z-index: 1000;
    background: transparent;
    color: #ccc;
}

#home_box span#intro_3 {
    display: block;
    position: absolute;
    top: 25%;
    right: 4%;
    z-index: 1000;
    background: transparent;
    color: #ccc;
}

#sec_callout div {
    /*position: relative;*/
    margin-top: 10px;
    /*flex-grow: 1;*/
    display: inline-block;
    column-gap: 5px;
    text-align: center;
}

#sec_callout div img {
    width: 110%;
    height: auto;
    margin: 0 auto;
}

.home_callout {
    position: relative;
    box-sizing: border-box;
    height: 250px;
    width: 16%;
    background: rgba(51, 53, 51, 1);
    border: 5px solid rgba(245, 203, 92, 1);
}

#cat_callout div {
    /*position: relative;*/
    display: inline-block;
    /*flex-wrap: wrap;*/
    column-gap: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.home_cat {
    position: relative;
    box-sizing: border-box;
    height: 125px;
    width: 16%;
    background-color: #b3c7bd;
    border-radius: 140px 140px 60px 60px;
}

